
// .gallery--queue-empty {
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//     // color: #757575;
//   background-image: url('../images/queue-empty/empty.jpg');
// }


.library-plug {
  height: 59vh;
  background-image: url("../images/queue-empty/plug.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 80px;
  background-size: contain;

  @include mq(tablet) {
    height: 65vh;
  }
}

.library-container {
  text-align: center;
}

.title-queue {
  display: inline-block;
  font-size: 25px;
  color: var(--title-color);
  border-radius: 10%;
  box-shadow: 0px 0px 19px 24px rgba(255,107,8,.7), inset 0px 0px 19px 24px rgba(255,107,8,.7);

  @include mq(mobile-only) {
    margin-top: 40px;
  }

  @include mq(tablet) {
    font-size: 35px;
  }

  @include mq(desktop) {
  font-size: 50px;

  }
}
