.gallery--library {
  background-color: aquamarine;
}
.gallery--queue-empty {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    // color: #757575;
  background-image: url('../images/queue-empty/empty.jpg');
}



