.pagination1{
  text-align: center;
  margin: 30px 30px 60px;
  user-select: none;
}

.pagination1 li{
  display: inline-block;
  margin: 5px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 10%);

}
.pagination1 li a{
color: #fff;
text-decoration: none;
font-size: 1.2em;
line-height: 45px;
}

.previous-page, .next-page{
  background-color: #0AB1CE;
width: 80px;
border-radius: 45px;
cursor: pointer;
transition: 0.3s ease;
}
.previous-page:hover{
transform: translateX(-5px);
}
.next-page:hover{
transform: translateX(5px);
}



.current-page, .dots{
  background-color: #ccc;
  width: 45px;
  border-radius: 50%;
  cursor: pointer;
}

.active1{
background-color: #0AB1CE;
}
.disable1{
background-color: #ccc;
}