.container {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;

    width: 100%;
    // min-height: 60vh;
    // min-height: 65vh;

    @include mq(tablet) {
        width: 768px;

        padding: 44px 16px;
    }

    @include mq(desktop) {
        width: 1280px;

        padding: 52px 24px;
    }
}