.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;

    width: 100%;

    @include mq(tablet) {
        width: 768px;

        padding-left: 32px;
        padding-right: 32px;
    }

    @include mq(desktop) {
        width: 1200px;

        padding-left: 32px;
        padding-right: 32px;
    }
}