.subscribe__wrapper {
  min-height: 100vh;
  color: #000;
  font-family: 'Muli', sans-serif;
  font-size: 1rem;
  background-color: #b9b7b7;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.subscribe__wrapper.is-hidden, .subscribe__btn.is-hidden { 
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}


.subscribe__container {
 
  background-color: #fff;
  padding: 1em;
  border-radius: 1em;
  max-width: 768px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-box-shadow: 0px 17px 34px -20px var(--main-accent-color);
  box-shadow: 0px 17px 34px -20px var(--main-accent-color);

  max-width: 400px;
  overflow: hidden;
  padding: 0;
}
.subscribe__img {
  height: 200px;
  overflow: hidden;
  position: relative;
  
  /* margin-bottom: 1.5em; */
}

.subscribe__img-icon {
  z-index: 1;
  width: 100%;
  height: auto;
  z-index: 2;
  border-radius: 1em 1em 0 0;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.subscribe__content {
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 0 2em;
  margin-bottom: 1.2em;
}

.subscribe__subtitle {
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-bottom: 0.9em;
  margin-top: 2.3em;
  font-weight: 700;
}
.subscribe__title {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 0.9em;
}

.subscribe__input {
  padding: 0.5em 0 0.5em 0.5em;
  line-height: 3;
  font-size: 0.8em;
  width: 100%;
  border: 2px solid var(--main-accent-color);
  border-radius: 0.5em;
  margin-bottom: 1em;
}

::-webkit-input-placeholder {
  color: #656565;
}

:-ms-input-placeholder {
  color: #656565;
}

::-ms-input-placeholder {
  color: #656565;
}

::placeholder {
  color: #656565;
}

.subscribe__btn {
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  font-weight: 700;
  background-color: var(--main-accent-color);
  padding: 0.9em 0;
  display: inline-block;
  border: none;
  border-radius: 0.5em;
  width: 100%;
  margin-bottom: 40px;
  cursor: pointer;
  text-transform: uppercase;
}

.subscribe__btn:hover, .subscribe__btn:focus{
  background-color: #de6f1a;
}
/* .text {
  font-size: 1rem;
  margin-bottom: 0.8em;
} */

/* .text {
  font-size: 0.9rem;
  width: 70%;
  text-align: center;
  margin: 0;
  color: #656565;
} */
.subscribe__span{
  color: rgb(80, 172, 89);
  display: block;
  margin-bottom: 10px;
}


@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  33% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}


  .subscribe__close {
    color: rgb(93, 90, 90);
    height: 42px;
    text-transform: uppercase;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    padding: 4px 10px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    transition: all .3s;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 15;
  }


.subscribe__close:hover,
.subscribe__close:focus {
  color: orange;
}
