:root {
  --primary-font: Roboto, sans-serif;
  
  --primary-font-size: 12px;
  --primary-line-height: 1.17;
  
  --primary-text-color: rgba(255, 255, 255, 1);
  --secondary-text-color: rgba(84, 84, 84, 1);
  --button-text-color: #FFFFFF;

  --main-bgc: #E5E5E5;
  --footer-bgc: #F7F7F7;

  --accent-color: #FF6B01;

}
