.gallery {
  
   display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    // margin: -10px;
  
     @include mq(tablet) {
        margin: -16px;}

  // @include mq(tablet) {
  //   display: grid;
  //   grid-template-columns: repeat(2, 1fr);
  //   grid-template-rows: repeat(10, 1fr);
  // }

  // @include mq(desktop) {
  //   grid-template-columns: repeat(3, 1fr);
  //   grid-template-rows: repeat(7, 1fr);
  // }
}
.gallery-section {
  .dark-theme & {
  background-color: #430d06;
    background-image: linear-gradient(225deg, #430d06 0%, #0f0303 89%);
    }
}
.gallery__item {
  position: relative;
  
  margin: 10px;
  // margin-left: auto;
  // margin-right: auto;

  @include mq(tablet) {
      display: flex;
      width: 100%;
      justify-content: center;
      width: calc((100% - 4 * 16px) / 2);
    }
  
     @include mq(desktop) {
      width: calc((100% - 6 * 16px) / 3);
    }
       

  @include mq(mobile-only) {
    width: 280px;
  }

  // @include mq(tablet) {
  //   margin: 16px;
  // }

  // @include mq(desktop) {
  //   margin: 8px;
  //   padding-bottom: 16px;
  // }

  transition-property: scale;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    scale: 1.03;
    // background-color: #d4d4d4;
    // z-index: 10;
  }
}

.youtube-btn {
  position: absolute;
  z-index: 10;
}

.movie-card {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
 

  @include mq(desktop) {
    font-size: 15px;
  }
}

.movie-card_poster-btn {
  width: 60px;
  height: 40px;

  border-radius: 15px;

  border: 0;
  padding: 0;
  margin: 0;
  outline: none;
  background: none;
  cursor: pointer;
  z-index: 10;
  position: absolute;

  top: 10px;
  left: 10px;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    // -webkit-box-shadow: 10px 11px 11px -8px rgba(255, 0, 0, 1);
    // -moz-box-shadow: 10px 11px 11px -8px rgba(255, 0, 0, 1);
    // box-shadow: 10px 11px 11px -8px rgba(255, 0, 0, 1);
    transform: scale(1.13);
  }
}

.movie-card__poster-container {
  margin-bottom: 12px;
  overflow: hidden;
}

.movie-card__poster {
  width: 280px;
  height: 400px;
  border-radius: 5px;

  transition-property: scale;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 1s ease-out;

  cursor: pointer;
  &:hover {
    scale: 1.15;
  }

  @include mq(tablet) {
    width: 336px;
    height: 455px;
  }

  @include mq(desktop) {
    width: 395px;
    height: 575px;
  }
}

.movie-info-title {

  margin-bottom: 5px;
  // font-size: inherit;
  font-size: 12px;

  text-align: left;
  text-transform: uppercase;
  color: var(--title-color);
  @include mq(tablet) {
      width: 336px;
    }
  @media screen and (min-width: $desktop) {
    font-size: 15px;
  }

  .dark-theme & {
    color: var(--second-bgc);
  }
}

.movie-card__thumb {
  display: flex;
  color: var(--main-accent-color);
}

.movie-info-list {
  display: flex;
  margin-right: 10px;
}

.second-thumb {
  height: 16px;
  display: inline-block;
  padding: 1px 6px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  text-align: center;
  background-color: var(--main-accent-color);
  color: var(--primary-text-color);

  @include mq(desktop) {
    padding: 3px 8px;
    height: 20px;
  }
}
