.backdrop-trailer {
  z-index: 9999;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  background-color: #000000c7;
  transform: translate(-50%, -50%);
  .modal-trailer {
    position: relative;
    // width: 100%;
    // max-width: 500px;
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
  }
}

.iframe {
  width: 800px;
  height: 400px;
}

.close-modal__trailer {
  position: absolute;
  top: 0;
  right: 0;

  font-style: normal;
  font-weight: 500;

  height: 42px;
  background: none;
  font-size: 20px;
  text-transform: uppercase;
  padding: 4px 10px;
  border: none;
  outline: none;

  transition: all 0.3s;

  cursor: pointer;

  .dark-theme & {
    color: var(--second-bgc);
  }

  &:hover {
    border: none;
    background-color: var(--accent-color);
    color: #fff;
    padding: 0 20px;
  }
}
