.gallery {
    @include mq(tablet) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(10, 1fr);
    }

    @include mq(desktop) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(7, 1fr);
    }
}

.gallery__item {
    display: block;
    margin: 10px;

    @include mq(tablet) {
        margin: 16px;
    }

    @include mq(desktop) {
        margin: 8px;
    }
}

.movie-card{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.movie-card img {
    display: block;
    margin-bottom: 12px;
    border-radius: 5px;
}

.movie-info-title {
    margin-bottom: 5px;
    font-size: inherit;
   

    text-transform: uppercase;
    color: var(--title-color);

}

.movie-card__thumb {
    display: flex;
    color: var(--main-accent-color);
}

.movie-info-list {
    display: flex;
    margin-right: 10px;
}

.info-item {
    
}

.second-thumb {
    display: inline-block;
    padding: 3px 8px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    background-color: var(--main-accent-color);
    color: var(--primary-text-color);
}