$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;

.header {
  font-style: normal;
  font-weight: 500;
  padding-top: 40px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;

  @include mq(tablet) {
    width: 100%;
    justify-content: space-between;
  }

  @include mq(desktop) {
    max-width: $desktop;
  }
}

.header--home {
  padding-bottom: 90px;
  padding-top: 40px;
  width: auto;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/header/mob/header_m_1x.jpg);

  @include mq(retina) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/header/mob/header_m_@2x.jpg);
  }

  @include mq(tablet) {
    padding: 40px 32px 60px 32px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/header/tabl/header_tab_1x.jpg);

    @include mq(retina) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/header/tabl/header_tab_@2x.jpg);
    }
  }

  @include mq(desktop) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/header/desc/header_d_1x.jpg);

    @include mq(retina) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/header/desc/header_d_@2x.jpg);
    }
  }
}

.logo {
  display: flex;
  border: 0;
  padding: 0;
  background-color: inherit;

  cursor: pointer;
  @include mq(tablet) {
    display: flex;
    align-items: center;
  }
}

.logo__icon {
  fill: var(--primary-text-color);
  height: 25px;
  width: 25px;
}

.logo__text {
  color: var(--primary-text-color);
  display: none;
  &:hover,
  &:focus {
    color: var(--accent-color);
    transition: transform 250ms var(--timing-function);
  }
  @include mq(tablet) {
    display: inline;
    font-size: 30px;
    // line-height: 35px;
    margin-left: 10px;
  }
}

.navigation {
  display: flex;
  align-items: flex-start;
  margin-left: auto;

  // @include mq(tablet) {

  // margin-left: 305px;
  // }

  //    @include mq(desktop) {
  //         margin-left: 565px;
  //     }
}

.navigation__item {
  &:not(:first-child) {
    margin-left: 40px;
  }
}

.navigation__btn {
  position: relative;
  display: block;
  cursor: pointer;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  padding: 0;
  color: var(--primary-text-color);
  border: 0;

  background-color: inherit;

  &:hover {
    color: var(--accent-color);

    transition: transform 250ms var(--timing-function);
  }

  &--current {
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -3px;
      display: block;
      width: 100%;
      height: 3px;
      background: var(--accent-color);

      transition: transform 250ms var(--timing-function);
    }
  }
}

// // form
.search-container {
  padding-top: 58px;
  width: 100%;
}

.search__form {
  position: relative;
  text-align: center;
}

.search__field {
  width: 100%;
  font-size: 14px;
  line-height: 1.14;

  @include mq(tablet) {
    width: 336px;
  }
  @include mq(desktop) {
    width: 394px;
  }

  background-color: transparent;
  border: transparent;
  border-bottom: 1px solid var(--primary-text-color);

  color: var(--primary-text-color);

  &:focus {
    outline: none;
    border-bottom: 1px solid var(--accent-color);
    &::placeholder {
      color: var(--accent-color);
    }
  }
}

.search__btn {
  @include mq(mobile-only) {
    position: absolute;
    top: 0;
    right: 0;
  }
  @include mq(tablet) {
    margin-left: -20px;
  }

  @include mq(desktop) {
    margin-left: -20px;
  }

  padding: 0;

  background-color: transparent;
  border: transparent;

  color: var(--primary-text-color);
  cursor: pointer;

  .search__field:focus ~ & {
    color: var(--accent-color);
  }
}

.search__icon {
  fill: inherit;
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
