// .header {
//   font-style: normal;
//   font-weight: 500;
//   padding-top: 44px;
//   padding-bottom: 62px;

//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: cover;
// }

.header--library {
  display: flex;
  
    padding-top: 40px;
     width: auto;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/header-library/mob/mob_1.jpg);

    @include mq(retina) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/header-library/mob/mob_1@2x.jpg);
    
  }

  @include mq(tablet) {
    padding: 40px 32px 60px 32px;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/header-library/tabl/tabl_1.jpg);

    @include mq(retina) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/header-library/tabl/tabl_1@2x.jpg);
    }
  }

  @include mq(desktop) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/header-library/desc/desc_1.jpg);

    @include mq(retina) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/header-library/desc/desc_1@2x.jpg);
    }
  }
}


// .header-container {
//   display: flex;
//   flex-wrap: wrap;
//   // max-width: 320px;
//   padding-left: 20px;
//   padding-right: 20px;
//   margin-right: auto;
//   margin-left: auto;

//   @include mq(tablet) {
//     justify-content: space-between;
//     max-width: $tablet;
//   }

//   @include mq(desktop) {
//     max-width: $desktop;
//   }
// }

// .logo {
//   display: flex;
//   border: 0;
//   padding: 0;
//   background-color: inherit;
//   cursor: pointer;

//   @include mq(tablet) {
//     display: flex;
//     align-items: center;
//   }
// }

// .logo__icon {
//   fill: var(--primary-text-color);
//   height: 25px;
//   width: 25px;
// }

// .logo__text {
//   display: none;

//   @include mq(tablet) {
//     display: inline;
//     font-size: 30px;
//     line-height: 35px;
//     margin-left: 10px;

//     color: var(--primary-text-color);
//   }
// }

// .navigation {
//   display: flex;
//   align-items: flex-start;
// padding-top: 4px;
//   @include mq(mobile-only) {
//     margin-left: 110px;
//   }

//   @include mq(tablet) {
//     margin-left: 305px;
//   }

//   @include mq(desktop) {
//     margin-left: 565px;
//   }
// }

// .navigation__item {
//   &:not(:first-child) {
//     margin-left: 40px;
//   }
// }

// .navigation__btn {
//   position: relative;
//   display: block;
//   cursor: pointer;
//   font-size: 12px;
//   line-height: 14px;
//   text-transform: uppercase;
//   padding: 0;
//   color: var(--primary-text-color);
//   border: 0;

//   background-color: inherit;

//   &:hover {
//     color: var(--accent-color);
//   }

//   &--current {
//     &::after {
//       content: '';
//       position: absolute;
//       left: 0;
//       bottom: -3px;
//       display: block;
//       width: 100%;
//       height: 3px;
//       background: var(--accent-color);
//     }
//   }
// }


.list-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 62px;
  width: 100%;

  @include mq(tablet) {
    margin-bottom: 0;
    margin-top: 40px;
  }
}

.list-button__item {
  &:not(:last-child) {
    margin-right: 19.94px;

    @include mq(tablet) {
      display: flex;
        align-items: center;
      margin-right: 32px;
    }
    @include mq(desktop) {
        margin-right: 16px;
    }
  }
  // @include mq(tablet) {
  //   display: flex;
  //   align-items: center;
  // }
}

.btn-header {
  display: inline-flex;
  padding: 14px 36px;
  width: 129.53px;

  text-transform: uppercase;
  justify-content: center;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: var(--button-text-color);
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
  font-family: inherit;

  @include mq(tablet) {
    width: 152px;
    padding: 13px 46px;
    
  }
@include mq(desktop) {
  width: 148px;
  padding: 13px 41px 11px 41px;
}
  &:hover,
  &:focus {
    background-color: var(--accent-color);
      transition: transform 250ms var(--timing-function);
  }
}

.btn-header--active {
  background-color: var(--main-accent-color);
}
