// a, ul {
//   list-style: none;
//   text-decoration: none;

//   padding: 0;
//   margin: 0;
// }

//==== Footer styles======// 
.footer {
  background-color: var(--second-bgc);
}
.footer__holder {
    padding-top: 20px;
    // padding-bottom: 28px;
    color: var(--footer-text-color);
    justify-content: center;
    text-align: center;
  }


.main-footer{
  padding-top: 30px;
  padding-bottom: 28px;
  // color: var(--footer-text-color);
  justify-content: center;
  text-align: center;
  // align-items: center;
  align-items: baseline;
  

  @media screen and (max-width: 767px) {
    
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.18;
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    font-size: 16px;
    line-height: 1.14;
  }
}


// .footer__holder {
//   padding-top: 30px;
//   padding-bottom: 28px;
//   color: var(--footer-text-color);
//   justify-content: center;
//   text-align: center;
//   // align-items: center;
//   align-items: baseline;
  

//   @media screen and (max-width: 767px) {
    
//     margin: 0 auto;
//     font-size: 14px;
//     line-height: 1.18;
//   }
//   @media screen and (min-width: $tablet) {
//     display: flex;
//     font-size: 16px;
//     line-height: 1.14;
//   }
 
// //  height: 100px;

// //   @media screen and (min-width: $tablet) {
// //     height: 79px;
// //     display: flex;
// //     align-items: center;
// //     justify-content: center;
// //     text-align: center;
// //     padding: 0;
// //     margin: 0;
// //     width: auto;
// //   }

// //   @media screen and (min-width: $desktop) {
// //     height: 77px;
// //   }
// }

.footer__sign  {
  
  padding-top: 10px;
  margin-bottom: 9.9px;
  // display: flex;
  // align-items: center;

  @include mq(tablet) {
    padding-top: 28px;
    margin-right: 7px;
    padding: 0px;
    margin-bottom: 0px;
  }
}
.footer__sign-text {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // text-align: center;
  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.text {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: var(--footer-text-color);
  margin: 0;
}

.footer__link {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 0;
  @media screen and (max-width: 767px) {
    margin-top: 10px;
  }

  @media screen and (min-width: $tablet) {
    margin-left: 3px;
  }

  @media screen and (min-width: $desktop) {
    position: relative;
  }
}

.footer__sign-text{
  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

//==== Heart decoration=====// 
.footer__link-icon {
  margin-right: 10px;
  margin-left: 10px;
  fill: var(--main-accent-color);
  width: 13px;
  height: 11.75px;
  position: absolute;
  animation: a 1.5s infinite;
}

#heart {
  position: relative;
  width: 21px;
  height: 20.75px;
  animation: b 1.5s ease-in-out infinite;
}

#heart:before,
#heart:after {
  position: absolute;
  content: '';
  width: 14px;
  height: 12.75px;
  background: red;
  -moz-border-radius: 50px 50px 0 0;
  -webkit-border-radius: 50px;
  border-radius: 50px 50px 0 0;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

#heart:after {
  left: 0;
  -moz-box-shadow: 3px -45px 5px 3px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 3px -45px 5px 3px rgba(255, 255, 255, 0.5);
  box-shadow: 3px -45px 5px 3px rgba(255, 255, 255, 0.5);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

@keyframes a {
  0% {
    -moz-box-shadow: 0 0 65px 15px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0 65px 15px rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 65px 15px rgba(255, 255, 255, 0.5);
  }
  50% {
    -moz-box-shadow: 0 0 65px 25px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0 65px 25px rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 65px 25px rgba(255, 255, 255, 0.5);
  }
  100% {
    -moz-box-shadow: 0 0 65px 15px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0 65px 15px rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 65px 15px rgba(255, 255, 255, 0.5);
  }
}
@keyframes b {
  0% {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  100% {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

//==== GoIT link========// 
.footer__link-social {
  // position: absolute;
  // display: flex;
  // justify-content: center;
  // text-align: center;
  // align-items: center;
  border: none;
  cursor: pointer;
  background-color: transparent;
  text-decoration-line: underline;

  &:hover,
  &:focus {
    color: #ff6b08;
  }
}


//*   button-subscribe    


.button-subscribe__main {
  display: inline-flex;
  margin-top: 15px;
  z-index: 9;
  align-items: center;
  background: var(--main-accent-color);
  box-shadow: 0 3px 2px 0 rgba(0,0,0,0.1);
  border-radius: 10px;
  height: 45px;
  padding: 0 30px;
  color: #fff;
  font-family: Lato, Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  transition: background .3s, transform .3s, box-shadow .3s;
   will-change: transform;

  
}
.button-subscribe__main:hover {
  background: darken(#ed8349,10%);
  box-shadow: 0 4px 17px rgba(0,0,0,0.2);
  transform: translate3d(0, -2px, 0);
}
.button-subscribe__main:active {
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
  transform: translate3d(0, 1px, 0);
}

.button-subscribe__pulse {
  position: relative;
}

.button-subscribe__pulse:before, .button-subscribe__pulse:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,.4);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    opacity: 0;
    margin: auto;
  }

  .button-subscribe__pulse:before {
    animation: pulse 1.5s infinite linear;
  }
  .button-subscribe__pulse:after {
    animation: pulse 2s .4s infinite linear;
  }
  .button-subscribe__pulse:hover:before, .button-subscribe__pulse:hover:after {
    display: none;
  }

  // .is-hidden-btn{
  //   opacity: 0;
  // visibility: hidden;
  // pointer-events: none;
  // }
  