.footer {
  background-color: #F7F7F7;
}

.footer__holder {
  height: 100px;

  @media screen and (min-width: $tablet) {
    height: 79px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    margin: 0;
    width: auto; 
  }

  @media screen and (min-width: $desktop) {
    height: 77px;

  }
}

.footer__sign {
  padding-top: 28px;
  margin-bottom: 9.9px;


   @include mq(tablet) {
    margin-right: 7px;
    padding: 0px;
    margin-bottom: 0px;
  } 
}
.footer__sign-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #545454;
  margin: 0;
}
.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
}

.footer__link-icon {
  margin-right: 10px;
  margin-left: 10px;
  fill: #ff6b08;
  /* justify-content: center;
  align-items: center; */
  width: 14px;
  height: 12.75px;
}