// {
//   padding: 0;
//   margin: 0;
//   box-sizing: border-box;
// }

// ul {
//   list-style-type: none;
// }

//*    Modal backdrop      //

.backdrop__modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  // background: rgba(0, 0, 0, 0.8);
  background-color: rgba(193, 191, 191, 0.8);
  top: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 11;
  // transition: opacity 250ms, visibility 250ms;
}

.backdrop__modal.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

//*    Modal body      //
.modal__body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90%;
  padding: 30px 10px;
}

.modalTeam__about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.modalTeam {
  position: relative;
  max-width: 340px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  background-color: rgba(66, 66, 66, 0.9);
  border-radius: 25px;
  transition: all 1.2s;

  @media screen and (min-width: $tablet) {
    max-width: 700px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 1000px;
  }
}

//*    Modal title      //
.modalTeam__title {
  position: relative;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 45px;
  line-height: 1.17;
  letter-spacing: 0.03px;
  text-align: center;
  color: var(--button-text-color);
  cursor: pointer;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

//*    Button      //
.modal__icon {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 26px;
  background: none;
  text-transform: uppercase;
  padding: 4px 10px;
  outline: none;
  transition: all 0.3s;
  cursor: pointer;
  color: rgb(208, 201, 201);
  border-radius: 12px;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

//*    Modal backdrop      //
.modalTeam__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.modalTeam__img {
  cursor: pointer;
  border-radius: 25%;
  width: 70px;
  height: 70px;
  margin: 10px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;

  @media screen and (min-width: $tablet) {
    width: 120px;
    height: 120px;
    margin: 10px;
  }
}

.modalTeam__img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

//*    Card style      //

.modalTeam__style.fix {
  margin: 10px;
  margin-bottom: 20px;
  border-radius: 20%;
  background-color: rgba(93, 87, 83, 0.9);
  box-shadow: 0 0 22px rgb(125, 122, 121);
}

//*    Name position style      //
.modalTeam__caption {
  text-align: center;
}

.modalTeam__name {
  margin-bottom: 10px;
  font-size: 16px;
  cursor: pointer;
}

.modalTeam__position {
  font-size: 14px;
  color: var(--accent-color);
  margin: 2px 0 9px 0;
  cursor: pointer;
  &:hover,
  &:focus {
    color: var(--second-bgc);
  }
}
