<footer class="footer">
  <div class="footer__holder container">
    <div class="footer__sign">
      <p class="footer__sign-text text">&#169; 2020 | All Rights Reserved |</p>
    </div>
    <div class="footer__link">
      <p class="footer__link-text text">Developed with</p>
      <svg class="footer__link-icon icon">
        <use href="./images/sprite-header.svg#icon-heart"></use>
      </svg>
      <a
        class="footer__link-social link text"
        href="https://goit.ua/?lang=uk"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="GoIT school link"
        >by GoIT Students</a
      >
    </div>
  </div>
</footer>
