<header class="header header--home">
  <!-- переключение темы -->
  <!-- <include src="./partials/theme.html"></include> -->
  <div class="header-container">
    <a class="logo" href="./index.html">
      <svg class="logo__icon" width="20" height="20">
        <use href="./images/sprite-header.svg#logo"></use>
      </svg>
      <span class="logo__text waviy">
        <span style="--i: 1">F</span>
        <span style="--i: 2">i</span>
        <span style="--i: 3">l</span>
        <span style="--i: 4">m</span>
        <span style="--i: 5">o</span>
        <span style="--i: 6">t</span>
        <span style="--i: 7">e</span>
        <span style="--i: 8">k</span>
        <span style="--i: 9">a</span>
      </span>
    </a>
    <ul class="navigation">
      <li class="navigation__item">
        <a class="navigation__btn navigation__btn--current" href="./index.html"
          >home</a
        >
      </li>
      <li class="navigation__item">
        <a class="navigation__btn" href="./my_library.html">my library</a>
      </li>
    </ul>
    <div class="search-container">
      <form class="search__form">
        <input type="text" placeholder="Movie search" class="search__field" />
        <button type="submit" class="search__btn">
          <svg class="search__icon" width="12" height="12">
            <use href="./images/sprite-header.svg#search"></use>
          </svg>
        </button>
      </form>
      <!-- <include src="./partials/sorter.html"></include> -->
      <include src="./partials/theme.html"></include>
    </div>
  </div>
</header>
