<header class="header header--library">
    <!-- переключение темы -->
  <include src="./partials/theme.html"></include>
  <div class="header-container">
    <a class="logo" href="./index.html">
      <svg class="logo__icon" width="20" height="20">
        <use href="./images/sprite-header.svg#logo"></use>
      </svg>
      <span class="logo__text">Filmoteka</span>
    </a>
    <ul class="navigation">
      <li class="navigation__item">
        <a class="navigation__btn" href="./index.html">home</a>
      </li>
      <li class="navigation__item">
        <a
          class="navigation__btn navigation__btn--current"
          href="./my_library.html"
          >my library</a
        >
      </li>
    </ul>
    <ul class="list-button">
      <li class="list-button__item">
        <button type="button" class="btn-header">Watched</button>
      </li>
      <li class="list-button__item">
        <button type="button" class="btn-header btn-header__queue">queue</button>
      </li>
    </ul>
  </div>
</header>
