<!-- Modal backdrop -->
<div class="backdrop__modal is-hidden" id="backdrop__modal">
  <div class="modal__body js-close-modal">
    <div class="modalTeam">
      <!-- Modal close button -->
      <button
        class="modalTeam__button modal__icon modal__close"
        type="button"
        data-modal-close-contacts
      >
        X
      </button>

      <!-- Team Name -->
      <div class="modalTeam__about">
        <h2 class="modalTeam__title">Dev Team</h2>

        <!-- Modal team cards -->
        <div class="modalTeam__cards">
          <ul class="modalTeam__list">
            <li class="modalTeam__style fix">
              <img
                class="modalTeam__img"
                src="./images/team-cards/card-9.jpg"
                alt="developer"
              />
              <div class="modalTeam__caption">
                <h3 class="modalTeam__name">Darya H.</h3>
                <p class="modalTeam__position">Team Lead</p>
              </div>
            </li>
            <li class="modalTeam__style fix">
              <img
                class="modalTeam__img"
                src="./images/team-cards/card-5.jpg"
                alt="developer"
              />
              <div class="modalTeam__caption">
                <h3 class="modalTeam__name">Sasha Sh.</h3>
                <p class="modalTeam__position">Scrum Master</p>
              </div>
            </li>
            <li class="modalTeam__style fix">
              <img
                class="modalTeam__img"
                src="./images/team-cards/card-1.jpg"
                alt="developer"
              />
              <div class="modalTeam__caption">
                <h3 class="modalTeam__name">Aleksandr K.</h3>
                <p class="modalTeam__position">Developer</p>
              </div>
            </li>
            <li class="modalTeam__style fix">
              <img
                class="modalTeam__img"
                src="./images/team-cards/card-2.jpg"
                alt="developer"
              />
              <div class="modalTeam__caption">
                <h3 class="modalTeam__name">Alexandr Y.</h3>
                <p class="modalTeam__position">Developer</p>
              </div>
            </li>
            <li class="modalTeam__style fix">
              <img
                class="modalTeam__img"
                src="./images/team-cards/card-11.jpg"
                alt="developer"
              />
              <div class="modalTeam__caption">
                <h3 class="modalTeam__name">Volodymyr G.</h3>
                <p class="modalTeam__position">Developer</p>
              </div>
            </li>
            <li class="modalTeam__style fix">
              <img
                class="modalTeam__img"
                src="./images/team-cards/card-4.jpg"
                alt="developer"
              />
              <div class="modalTeam__caption">
                <h3 class="modalTeam__name">Andrey Ch.</h3>
                <p class="modalTeam__position">Developer</p>
              </div>
            </li>
            <li class="modalTeam__style fix">
              <img
                class="modalTeam__img"
                src="./images/team-cards/card-6.jpg"
                alt="developer"
              />
              <div class="modalTeam__caption">
                <h3 class="modalTeam__name">Viktoria A.</h3>
                <p class="modalTeam__position">Developer</p>
              </div>
            </li>
            <li class="modalTeam__style fix">
              <img
                class="modalTeam__img"
                src="./images/team-cards/card-7.jpg"
                alt="developer"
              />
              <div class="modalTeam__caption">
                <h3 class="modalTeam__name">Valeria L.</h3>
                <p class="modalTeam__position">Developer</p>
              </div>
            </li>
            <li class="modalTeam__style fix">
              <img
                class="modalTeam__img"
                src="./images/team-cards/card-8.jpg"
                alt="developer"
              />
              <div class="modalTeam__caption">
                <h3 class="modalTeam__name">Vitaliy G.</h3>
                <p class="modalTeam__position">Developer</p>
              </div>
            </li>
            <li class="modalTeam__style fix">
              <img
                class="modalTeam__img"
                src="./images/team-cards/card-10.jpg"
                alt="developer"
              />
              <div class="modalTeam__caption">
                <h3 class="modalTeam__name">Pasha М.</h3>
                <p class="modalTeam__position">Developer</p>
              </div>
            </li>
            <li class="modalTeam__style fix">
              <img
                class="modalTeam__img"
                src="./images/team-cards/team.jpg"
                alt="developer"
              />
              <div class="modalTeam__caption">
                <h3 class="modalTeam__name">Alexey L.</h3>
                <p class="modalTeam__position">Developer</p>
              </div>
            </li>
            <li class="modalTeam__style fix">
              <img
                class="modalTeam__img"
                src="./images/team-cards/card-3.jpg"
                alt="developer"
              />
              <div class="modalTeam__caption">
                <h3 class="modalTeam__name">Alona</h3>
                <p class="modalTeam__position">Mentor</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
