<div class="pagination1">
  <li class="page-item1 previous-page disable1">
    <a href="" class="page-link1" href="#" >Prev</a>
  </li>
  <li class="page-item1 current-page active1">
    <a href="" class="page-link1" href="#" >1</a>
  </li>
  <li class="page-item1 dots">
    <a href="" class="page-link1" href="#" >...</a>
  </li>
  <li class="page-item1 current-page ">
    <a href="" class="page-link1" href="#" >5</a>
  </li>
  <li class="page-item1 current-page">
    <a href="" class="page-link1" href="#" >6</a>
  </li>
  <li class="page-item1 dots">
    <a href="" class="page-link1" href="#" >...</a>
  </li>
  <li class="page-item1 current-page">
    <a href="" class="page-link1" href="#" >10</a>
  </li>
  <li class="page-item1 next-page">
    <a href="" class="page-link1" href="#" >Next</a>
  </li>
</div>