<div class="dropdown">
  <button
    class="btn sorted-btn dropdown-toggle dropdown-genres-btn"
    type="button"
    id="dropdownMenuButton2"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Genres
  </button>
  <div
    class="dropdown-menu dropdown-content"
    id="tags"
    aria-labelledby="dropdownMenuButton2"
  >
    <div class="tag" id="28">Action</div>
    <div class="tag" id="12">Adventure</div>
    <div class="tag" id="16">Animation</div>
    <div class="tag" id="35">Comedy</div>
    <div class="tag" id="80">Crime</div>
    <div class="tag" id="99">Documentary</div>
    <div class="tag" id="18">Drama</div>
    <div class="tag" id="10751">Family</div>
    <div class="tag" id="14">Fantasy</div>
    <div class="tag" id="36">History</div>
    <div class="tag" id="27">Horror</div>
    <div class="tag" id="10402">Music</div>
    <div class="tag" id="9648">Mystery</div>
    <div class="tag" id="10749">Romance</div>
    <div class="tag" id="878">Science Fiction</div>
    <div class="tag" id="10770">TV Movie</div>
    <div class="tag" id="53">Thriller</div>
    <div class="tag" id="10752">War</div>
    <div class="tag" id="37">Western</div>
  </div>
</div>
