<!-- <div class="subscribe__wrapper is-hidden">
      
  <div class="subscribe__container js-close-subscribe">
    
    <div class="subscribe__img">
      <button
        class="overlay  button-close-subscribe subscribe__close"
        type="button"
        data-modal-close-contacts
      >
        X
      </button>
      <img
        src="https://www.kindpng.com/picc/m/187-1876040_popcorn-and-movie-reel-transparent-background-hd-png.png"
        alt="movie"
        class="subscribe__img-icon"
      />
    </div>
    <div class="subscribe__content">
        <h2 class="subscribe__subtitle">Subscribe today</h2>
        <h1 class="subscribe__title">Don't miss the movie!</h1>
      <!-- <h2 class="hero__sub-title subtitle">Do you want to know the latest movie news?</h2>
      <h1 class="hero__sub-text title">Subscribe!</h1> -->
      <form class="subscribe__form " name="submit-to-google-sheet">
        <input
          class="subscribe__input"
          name="Email"
          type="email"
          placeholder="Your email address"
          required
        />
        <input type="submit" value="Subscribe" class="subscribe__btn" />
      </form>
      <span class="subscribe__span" id="msg"></span>
      <!-- <p class="text">We won’t send you spam. Unsubscribe at any time.</p> -->
    </div>
  </div>
</div>
<!-- <div class="button-subscribe__main">
  <a href="#" class=" button-subscribe__pulse pulse">
    Subscribe
  </a>
</div> --> -->
