.dropdown {
  display: flex;
  // justify-content: flex-end;
  justify-content: center;
}

.sorted-main-container {
  text-align: center;

  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  display: grid;

  @include mq(tablet) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, 1fr);
    // width: 768px;
  }

  @include mq(desktop) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
  }
}

.noMovies {
  @include mq(tablet) {
    margin-top: 40px;
  }
}
.movie-info-title {
  margin-bottom: 5px;
  font-size: 12px;

  text-align: left;
  text-transform: uppercase;
  color: var(--title-color);

  @media screen and (min-width: $desktop) {
    font-size: 15px;
  }

  // .dark-theme & {

  // }
}

.sorted-btn {
  // position: relative;
  position: absolute;
  top: 155px;
  left: 6%;
  // color: white;
  border: none;
  cursor: pointer;
  // align-items: flex-start;
  // box-sizing: border-box;
  // display: inline-block;
  height: 30px;
  // margin-top: 0px;
  // padding: 6px 12px;
  font-size: 15px;
  width: 60px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  outline-style: none;
  outline-width: 0px;
  background-color: #983030;
  transition-delay: 0s, 0s, 0s, 0s;
  transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
  transition-property: color, background-color, border-color, box-shadow;
  transition-timing-function: ease-in-out;
  border-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);

  @include mq(tablet) {
    top: 115%;
    left: 15%;
    width: 70px;
  }

  @include mq(desktop) {
    left: 17%;
  }
    // @include mq(tablet) {
    //   top: 115%;
    //   left: 45%;
    //   width: 70px;
    // }
  
    // @include mq(desktop) {
    //   left: 45%;
    // }
    }

.sorted-btn:hover {
  background-color: var(--accent-color);
}

.tag.highlight {
  background-color: var(--accent-color);
}
.tag.clear-btn {
  background-color: orangered;
}
.no-results {
  color: white;
}

//movie card container
.movie {
  // width: auto;
  margin-left: auto;
  margin-right: auto;
  // margin: 1rem;
  // border-radius: 3px;
  // box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
  // background-color: var(--secondary-color);
  position: relative;
  overflow: hidden;
}

.movie-card {
  // font-weight: 500;
  // font-size: 12px;
  // line-height: 1.2;

  // @include mq(desktop) {
  //   font-size: 15px;
  // }
  position: relative;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;

  @include mq(mobile-only) {
    width: 280px;
  }

  @include mq(tablet) {
    margin: 16px;
  }

  @include mq(desktop) {
    margin: 8px;
    padding-bottom: 16px;
  }

  transition-property: scale;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    scale: 1.03;
    // background-color: #d4d4d4;
    // z-index: 10;
  }
}
.movie-card__poster-container {
  margin-bottom: 12px;
  overflow: hidden;
}

.movie-card__poster {
  // width:100%;

  width: 280px;
  height: 400px;
  border-radius: 5px;

  transition-property: scale;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 1s ease-out;

  cursor: pointer;
  &:hover {
    scale: 1.15;
  }

  @include mq(tablet) {
    width: 336px;
    height: 455px;
  }

  @include mq(desktop) {
    width: 395px;
    height: 575px;
  }
}

.movie-info {
  color: #eee;
  display: flex;
  align-items: center;
  // justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}
.movie-info-title {
  margin: 0;
}

.movie-info span {
  // background-color: var();
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.movie-info span.green {
  color: lightgreen;
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: red;
}

.no-results {
  color: orangered;
}

//* Dropdown content */

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  z-index: 15;
  display: none;
  position: absolute;
  background-color: #dec7c7;
  box-shadow: 0 0 20px rgba(55%, 55%, 55%, 0.4);
  border-radius: 0 0 15px 15px;
}

.tag {
  z-index: 11;
  color: black;
  letter-spacing: 0.5px;
  align-items: center;
  // padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
  padding: 5px 5px;
  border-radius: 5px;
  cursor: pointer;
  width: 165.422px;
  font-size: 15px;
}

/* Change color of dropdown links on hover */
.tag:hover,
.tag:focus {
  background-color: orangered;
  color: #fff;
}
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  position: absolute;
  top: 188px;
  left: 5%;
  display: block;
  z-index: 11;
  border-radius: 5px;
  @include mq(tablet) {
    top: 165px;
    left: 7%;
  }

    @include mq(desktop){
      top: 172px;
      left: 9.5%;
    }
  // @include mq(tablet) {
  //   top: 165px;
  //   left: 41%;
  // }

  // @include mq(desktop) {
  //   top: 172px;
  //   left: 42%;
  // }
}
